        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            background-color: white;
        }
        *::selection {
          background: magenta;
          color: white;
        }
        @font-face {
          font-family: "Ultra";
          src: url("assets/svg/Ultra-Regular.woff2");
        }
        @font-face {
          font-family: "";
          src: url("");
        }
        header {
            width: 100%;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            background-color: white;
            z-index: 10;
        }
        @media (max-width: 768px) {
            header {
                box-shadow: 0 0 20px rgba(75, 0, 255, 0.4);
                padding: 20px;
            }
        }
        .tom {
            max-height: 50px;
        }
        .eu {
            max-height: 50px;
            border: 2px solid #4C00FF;
            border-radius: 50%;           
        }
        .eu-b {
            position: absolute;
            top: 30px;
            right: 30px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: #4C00FF;
            text-align: center;
            align-content: center;
            text-decoration: none;
            color: white;
            opacity: 0%;
            transition: opacity 0.3s ease;
            cursor: pointer;
        }
        @media (max-width: 768px) {
            .eu-b {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
        .eu-b:hover {
            display: block;
            opacity: 100%;
        }
        .card {
              border: 2px dotted #4C00FF;
              width: minmax(150px, 1fr);
              padding: 20px;
              color: #4C00FF;
              font-size: 14px;
              background-color: lavender;
        }
        .card h2 {
            font-family: "Ultra";
            font-size: 18px;
            background-color: transparent;
            line-height: 14px;
            margin-bottom: 10px;
        }
        .card a {
            display: inline;
            background-color: transparent;
            color: #4C00FF;
            text-decoration-line: underline;
            text-decoration-style: wavy;
            text-decoration-thickness: 1px;
            font-weight: bold;
        }
        .card a:hover {
            background-color: magenta;
            color: white;
        }
        .card:hover {
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #4C00FF;
            height: 100vh;
        }
        .gallery {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
                max-width: 100%; 
                gap: 20px;
                margin: auto;
                padding: 100px 100px 100px 100px;
            }
        @media (max-width: 1200px) {
            .gallery {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 10px;
                max-width: 100%;
                padding: 50px 30px 30px 30px;
            }
            header {
                position: sticky;
                top: -15px;
            }
            .card {
                padding: 15px;
                font-size: 12px;
                overflow: scroll;
            }
            .card h2 {
                font-size: 14px;
            }
        }
        .gallery-item {
            aspect-ratio: 1;
            overflow: hidden;
            cursor: pointer;
            border: solid 2px #4C00FF;
            z-index: 2;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        }
        .gallery-item:hover {
            transform: translate(-4px, -4px);
            box-shadow: 8px 8px #4C00FF;        
        }
        .gallery-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1000;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        .modal:target {
            display: flex;
        }
        .modal-content {
            background-color: white;
            /*border-radius: 6px;*/
            border: 2px solid #4C00FF;
            max-width: 1000px;
            width: 100%;
            max-height: 90vh;
            overflow: auto;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        @media (min-width: 768px) {
            .modal-content {
                flex-direction: row;
                max-height: 80vh;
            }
        }
        .modal-left {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .modal-image {
            flex: 1;
            height: 80%; 
            overflow: hidden;
            position: relative;
        }
        .modal-image img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: none;
            padding: 20px 20px 0px 20px;
        }
        @media (max-width: 768px) {
            .modal-image img {
                max-height: 400px;
                padding: 10px 10px 0px 10px;
            }
        }
        .modal-image img.active {
            display: block;
        }

        video {
            padding: 20px 20px 0px 20px;
        }
        .arrow {
            position: absolute;
            bottom: 5px; 
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 20px;
            color: #4C00FF;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 5;
        }
        @media (max-width: 768px){
            .arrow {
                display: none;
            }
        }
        .arrow:hover {
            background-color: transparent;
            color: magenta;
            transform: translateY(-50%) scale(1.4);
        }
        .arrow.prev {
            left: calc(50% - 30px);
        }
        .arrow.next {
            right: calc(50% - 30px);
        }
        .modal-thumbnails {
            display: flex;
            gap: 7px;
            padding: 10px 20px 18px 18px;
            background-color: white;
            overflow-x: auto;
        }
        .modal-thumbnails .thumbnail:first-child {
            margin-left: auto;
        }
        .modal-thumbnails .thumbnail:last-child {
            margin-right: auto;
        }
        .thumbnail {
            flex-shrink: 0;
            max-width: 75px;
            height: 50px;
            cursor: pointer;
            object-fit: contain;
            border: 2px solid transparent;
        }
        .thumbnail:hover {
            border: 2px solid #4C00FF;
        }
        .thumbnail.active {
            border-color: #4C00FF;
            background-color: #ee77ff; 
        }
        .thumbnail img {
            width: 100%;
            height: 100%;
            object-fit: contain; 
            display: block;
            mix-blend-mode: multiply; 
        }
        .modal-info {
            flex: 0.35; 
            padding: 20px 30px 20px 20px;
            overflow-y: auto;
            font-size: 14px;
        }
        .modal-info h2 {
            margin-bottom: 10px;
            color: #4C00FF;
            font-size: 30px;
            font-family: "Ultra", serif;
        }
        .modal-info p {
            line-height: 1.6;
            color: #666;
        }
        .close-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 25px;
            height: 25px;
            background-color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
            z-index: 10;
            text-decoration: none;
            color: #4C00FF;
        }
        .close-btn:hover {
            transition: transform 0.5s ease;
            transform: rotate(180deg);
        }
        footer {
            width: 100%;
            position: static;
            bottom: 0px;
            z-index: 0;
        }
        .wip {
            position: relative;
            background-color: #4C00FF;
            color: white;
            width: 120px;
            margin: auto;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 14px;
        }

        .wip:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-top-color: #4C00FF;
            border-bottom: 0;
            margin-left: -8px;
            margin-bottom: -8px;
        }
        .muhsin {
            display: flex;
            align-content: flex-end;
            width: 80px;
            overflow-x: visible;
            margin: auto;
            border: none;
        }